body {
  font-family: 'DroidArabicKufiRegular';
  font-weight: normal;
  font-style: normal;
}

/* Start Top area */
.top-area {
  background: url("../img/top-bg.jpg") no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 40px;
  position: relative;
}

.top-area .nav .nav-item .nav-link {
  border-left: 1px solid #cccdce;
  color: #FFF;
  font-size: 12px;
}

.top-area .nav .nav-item .nav-link:hover, .top-area .nav .nav-item .nav-link:focus, .top-area .nav .nav-item .nav-link:active {
  color: #cccdce;
}

.top-area .call {
  text-align: left;
  color: #FFF;
  padding: .5em;
}

.top-area .call .fa {
  font-size: 20px;
}

.top-area .call span {
  font-weight: 700;
}

@media (min-width: 688px) and (max-width: 991px) {
  .top-area {
    background: #554F51;
  }
  .top-area .nav .nav-link {
    padding: 1em;
  }
  .top-area .call {
    position: absolute;
    background: #B9232C;
    top: -42;
    left: 0;
  }
}

@media (max-width: 687px) {
  .top-area {
    background: #554F51;
    height: 70px;
  }
  .top-area .container {
    width: 100%;
    padding: 0px;
  }
  .nav {
    background: #554F51;
    width: 100%;
    padding: 0 15px;
  }
  .call {
    background: #B9232C;
    width: 100%;
    padding: .5em 15px !important;
    text-align: right !important;
  }
}

/* End Top area */
/* Start Navbar */
.navbar {
  background-color: #FFF;
  border-bottom: 3px solid #B9232C;
  padding: 30px 0px;
}

.navbar .navbar-toggler {
  outline: 0;
  overflow: hidden;
  margin: 1em;
  width: 100%;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  background-color: #B9232C;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
}

.navbar .navbar-toggler .navbar-toggler-icon .fa {
  color: #FFF;
}

.navbar .navbar-toggler .menu {
  background-color: #554F51;
  color: #FFF;
  width: 90%;
  display: block;
  text-align: right;
  transition: all .3s ease-in-out;
  height: 35px;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  float: right;
}

.navbar .navbar-toggler .menu:hover {
  background-color: #B9232C;
}

.navbar .nav-item {
  padding: 0px 5px;
  margin-left: 3px;
  border-left: 1px solid #cccdce;
  transition: all .5s ease-in;
  /* when nav-item is active */
}

.navbar .nav-item .nav-link {
  color: #000;
  font-weight: 700;
  font-size: 13px;
}

.navbar .nav-item .nav-link i {
  color: #FFF;
  font-size: 20px;
  border-radius: 5px;
}

.navbar .nav-item:first-of-type {
  border: 0;
  margin: 0;
}

.navbar .nav-item:first-of-type .nav-link {
  background-color: #B9232C;
  border-radius: 4px;
}

.navbar .nav-item:last-of-type {
  border: 0;
}

.navbar .nav-item.active .nav-link, .navbar .nav-item:hover .nav-link, .navbar .nav-item:focus .nav-link {
  color: #B9232C;
}

@media (max-width: 992px) {
  .navbar-brand {
    width: 100%;
    text-align: center;
  }
  .navbar-nav {
    width: 100%;
  }
  .navbar-nav .nav-item {
    border-bottom: 1px solid #ccc;
  }
  .navbar-nav .nav-item .nav-link {
    padding-right: 15px;
  }
}

/* End Navbar */
#mainSlider {
  direction: ltr;
  overflow: hidden;
  box-shadow: 0px 100px 80px #c8c4c5;
}

#mainSlider .owl-item {
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mainSlider .owl-item .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainSlider .owl-item .overlay .content p {
  font-size: 22px;
  width: 80%;
  margin: auto;
}

#mainSlider .item1 {
  background-image: url("../img/slide01.jpg");
}

#mainSlider .item2 {
  background-image: url("../img/slide02.jpg");
}

#mainSlider .owl-nav {
  margin: 0;
}

#mainSlider .owl-prev, #mainSlider .owl-next {
  position: absolute;
  top: 40%;
  background: transparent !important;
  opacity: 1 !important;
}

#mainSlider .owl-prev {
  left: 50px;
}

#mainSlider .owl-next {
  right: 50px;
}

#mainSlider .fa {
  font-size: 25px;
  border: 3px solid #FFF;
  padding: 15.5px 19px;
  border-radius: 50%;
  color: #FFF;
}

/*====================== End Header ======================*/
/*====================== Start About Section ======================*/
.about {
  margin-top: -120px;
  z-index: 2;
}

.about .owl-carousel {
  box-shadow: none;
  direction: ltr;
  overflow: hidden;
}

.about .owl-item {
  width: 100%;
}

.about .widget {
  box-shadow: 0px 0px 4px #554F51;
  background: #FFF;
  padding: 10px 0px;
  margin-bottom: 20px;
}

.about .widget .fa {
  font-size: 50px;
  padding: 20px;
  color: #554F51;
}

.about .widget h2 {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
}

.about .widget p {
  color: #7c7678;
  font-size: 13px;
  color: #333333;
  line-height: 18px;
}

.about .widget button {
  background-color: #B9232C;
  color: #FFF;
  font-size: 14px;
  padding: 9px 25px;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 10px;
  transition: all .3s ease-in-out;
}

.about .widget button:hover {
  background-color: #554F51;
}

.about .owl-theme .owl-dots .owl-dot.active span, .about .owl-theme .owl-dots .owl-dot:hover span {
  background: #B9232C;
}

/*====================== End About Section ======================*/
/*====================== Start Services Section ======================*/
.services {
  padding: 40px 0px;
}

.services .services-title {
  color: #B9232C;
  margin-bottom: 20px;
}

.services #serviceSlider {
  position: relative;
}

.services #serviceSlider .owl-nav {
  display: block !important;
  position: absolute;
  left: 10px;
  top: -69px;
}

.services #serviceSlider .owl-next,
.services #serviceSlider .owl-prev {
  color: #B9232C;
  background: #FFF;
  border: 2px solid #B9232C;
  border-radius: 50%;
  padding: 8px 10px;
}

.services .news li {
  margin: 10px 0px;
  clear: both;
  overflow: hidden;
}

.services .news li span {
  background: #e2e2e2;
  color: #595958;
  padding: 10px;
  margin: 5px 0px 5px 10px;
  display: block;
  float: right;
  text-align: center;
  font-weight: bold;
  width: 55px;
  height: 60;
  line-height: 20px;
}

.services .news li span small {
  display: block;
}

.services .news li a {
  color: #848182;
  text-decoration: none;
  font-size: 13;
  line-height: 24px;
  transition: all .3s ease-in-out;
}

.services .news li a:hover {
  color: #B9232C;
}

.services .show-all {
  background: #B9232C;
  color: #FFF;
  margin: auto;
  display: block;
  width: 70%;
  padding: 12px;
  font-size: 13px;
  transition: all .3s ease-in-out;
}

.services .show-all:hover {
  background-color: #554F51;
}

.services .mail-list {
  color: #848182;
}

.services .mail-list .nav {
  margin-bottom: 20px;
  padding: 0px 15px;
}

.services .mail-list .subscribe {
  font-size: 12px;
  color: #2b5372;
  margin-top: 30px;
}

.services .mail-list form {
  margin: 40px 0px;
  overflow: hidden;
}

.services .mail-list form #email {
  background: #F8F9F9;
  box-shadow: none;
  border: 1px solid #CCCCCC;
  padding: 2px;
  color: #333333;
  font-size: 13px;
  height: 34px;
  width: 73%;
  float: right;
}

.services .mail-list form #subscribe {
  background: #B9232C;
  color: #FFF;
  height: 32px;
  border: 0;
  padding: 5px 15px;
}

.services .mail-list .freq {
  background: url("../img/faq-banner.jpg");
  background-size: cover;
  height: 200px;
  padding: 10px;
}

.services .mail-list .freq a {
  color: #FFF;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.services .mail-list .freq a:hover {
  color: #FFBE00;
}

.services .mail-list .freq a img {
  display: block;
  margin: 10px auto;
}

.services .mail-list .freq a big, .services .mail-list .freq a small {
  display: block;
  margin: 5px;
}

.services .service, .services .news-list, .services .mail-list {
  margin-bottom: 30px;
}

.card {
  box-shadow: 0px 0px 1px #777;
  height: 310px;
}

.card .card-img-top {
  transition: all .3s ease-in-out;
}

.card .card-img-top:hover {
  opacity: .7;
  cursor: pointer;
}

.card .card-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: #484b50;
}

.card .card-text {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: #484b50;
}

.card .card-text a {
  color: #B9232C;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}

@media (max-width: 687px) {
  .mail-list .nav {
    background: none;
    width: 100%;
    padding: 0px 37% !important;
  }
}

/*====================== End Services Section ======================*/
/*====================== Start success Section ======================*/
.success {
  padding: 40px 0px;
  background: #F9F9F9;
  border-top: 1px solid #CCC;
}

.success .title {
  color: #B9232C;
  margin-bottom: 20px;
}

.success #successSlider {
  position: relative;
}

.success #successSlider .owl-nav {
  display: block !important;
  position: absolute;
  left: 10px;
  top: -69px;
}

.success #successSlider .owl-next,
.success #successSlider .owl-prev {
  color: #B9232C;
  background: #FFF;
  border: 2px solid #B9232C;
  border-radius: 50%;
  padding: 8px 10px;
}

.success #successSlider .owl-dots .owl-dot.active span, .success #successSlider .owl-dots .owl-dot:hover span {
  background: #B9232C;
  margin-top: 20px;
}

.success .card {
  height: 150px;
  box-shadow: none;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.success .card .card-img-top {
  height: 73%;
  max-width: 95%;
  border-radius: .25rem;
}

.success .card .card-block {
  background: #FAFAFA;
  text-align: center;
  border-top: 1px solid #ccc;
  display: flex;
  align-items: center;
  max-height: 20%;
  width: 100%;
  justify-content: center;
}

.success .card .card-block .card-title {
  margin: 0;
  font-weight: normal;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.success .card .card-block .card-title:hover {
  color: #B9232C;
  cursor: pointer;
}

/*====================== End success Section ======================*/
/*====================== Start Footer ======================*/
footer {
  padding: 40px 0px 0px;
  background: #2F2F2F;
}

footer .menus h2 {
  color: #FFF;
  margin-bottom: 30px;
}

footer .menus ul li a {
  color: #BDC1C7;
}

footer .menus ul li a:hover, footer .menus ul li a:focus, footer .menus ul li a:active {
  color: #FFF;
  text-decoration: none;
}

footer .menus ul li a:before {
  font-family: 'FontAwesome';
  content: '\f0c8';
  margin-left: 10px;
  font-size: 10px;
  color: #3C3C3C;
}

footer .share {
  color: #FFF;
}

footer .share h2 {
  font-size: 18px;
}

footer .share .app li {
  display: inline-block;
}

footer .share .app li i {
  padding: 5px 30px;
  border-radius: 15px;
}

footer .share .app li .fa-android {
  background: #31AB62;
  margin-left: 4px;
}

footer .share .app li .fa-apple {
  background: #3171A2;
}

footer .share .social li {
  display: inline-block;
}

footer .share .social li i {
  border-radius: 50%;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
}

footer .share .social li .fa-facebook {
  background: #4E71A8;
}

footer .share .social li .fa-twitter {
  background: #1CB7EB;
}

footer .share .social li .fa-google-plus {
  background: #E3411F;
}

footer .share .social li .fa-instagram {
  background: #444444;
}

footer .share .social li .fa-youtube {
  background: #CA3737;
}

footer .share .phone {
  background: #393939;
  padding: 10px;
}

footer .share .phone ul {
  margin: 0;
}

footer .share .phone ul li {
  font-size: 14px;
}

footer .share .phone ul li i {
  margin-left: 8px;
  color: #101010;
}

footer .copyright h2 {
  color: #BDC1C7;
  font-size: 1rem;
  margin: 40px 0 20px;
}

/*====================== End Footer ======================*/
/*# sourceMappingURL=style.css.map */